.Main {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 15px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  background-color: #fff;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.movie-card h3 {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.movie-card:hover img {
  transform: scale(1.1);
}

.movie-card:hover h3 {
  color: #001B5A;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-input {
  padding: 12px 16px;
  font-size: 16px;
  width: 300px;
  border: 2px solid #ddd;
  border-radius: 8px 0 0 8px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  border-color: #ff7f50;
  box-shadow: 0 0 6px rgba(255, 111, 0, 0.5);
}

.search-button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff7f50;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button:hover {
  background-color: #ff7f50; 
  transform: scale(1.05);
}
