.Main {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 15px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px; 
  background-color: #fff; 
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-bottom: 10px; 
}

.movie-card h3 {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.movie-card:hover img {
  transform: scale(1.1); 
}

.movie-card:hover h3 {
  color: #001B5A; 
}
