.banner-img {
    width: 100%;      /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: auto;     /* Mantiene la proporción original de la imagen */
    display: block;   /* Elimina el espacio debajo de la imagen */
    opacity: 0.7; 
}
